<!DOCTYPE html>
<html>

<head>
    <meta encoding="UTF-8">
    <title>Criminal Record</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        .auto-grid-3 {
            display: grid;
            grid-template-columns: auto auto auto auto;
            padding: 1em;
        }
        
        .content-buttons {
            margin-right: 2em;
            float: right;
        }
        
        .content-buttons .btn {
            display: block;
            margin-bottom: 1em;
            text-align: right;
        }
        
        .add-box {
            display: none;
            position: absolute;
            padding: 3em;
            width: 100%;
            height: 100%;
            margin: auto auto;
            background-color: white;
            box-shadow: 1px 1px 8px gray;
            z-index: 5;
        }
        
        img {
            z-index: 3;
        }
        
        .add-box label {
            display: block;
            margin-top: 2em;
        }
        
        .add-box h1 {
            margin-bottom: 1em;
        }
        
        .add-box button {
            margin-top: 2em;
        }
        
        .add-box .btn-close {
            float: right;
        }
        
        #adminButton {
            display: none;
        }
        
        .loginBox {
            display: none;
            position: absolute;
            padding: 3em;
            width: 100%;
            height: 100%;
            margin: auto auto;
            background-color: white;
            box-shadow: 1px 1px 8px gray;
            z-index: 5;
        }
        
        .loginBox label {
            display: block;
            margin-top: 2em;
        }
        
        .loginBox h1 {
            margin-bottom: 1em;
        }
        
        .loginBox .submit {
            margin-top: 2em;
        }
        
        .loginBox .btn-close {
            float: right;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="add-box">
            <form>
                <button onclick="hide_criminalInsertPopup()" class="btn btn-close"></button>
                <h2>Add criminal</h2>
                <div class="form-group">
                    <label for="name">Name of criminal</label>
                    <input type="name" class="form-control" id="criminalNameInput" aria-describedby="nameHelp" placeholder="Enter name">
                    <small id="nameHelp" class="form-text text-muted">The name of the criminal</small>
                </div>
                <div class="form-group">
                    <label for="">Crime</label>
                    <input type="crime" class="form-control" id="crimeInput" aria-describedby="crimeHelp" placeholder="Enter crime">
                    <small id="crimeHelp" class="form-text text-muted">The crime he has commited</small>
                </div>
                <div class="form-group">
                    <label for="">Date of Birth</label>
                    <input type="dob" class="form-control" id="dobInput" aria-describedby="dobHelp" placeholder="Enter dob">
                </div>
                <div class="form-group">
                    <label for="">Description</label>
                    <input type="description" class="form-control" id="descriptionInput" aria-describedby="descriptionHelp" placeholder="Describe the criminal">
                </div>
                <button @click="addCriminal()" class="btn btn-primary" type="button">Submit</button>
            </form>
        </div>

        <div class="loginBox">
            <button onclick="hide_loginBox()" class="btn btn-close"></button>
            <h2>Login</h2>
            <form>

                <div class="form-group">
                    <label for="name">Name:</label>
                    <input name="name" type="name" class="form-control" id="usernameInput" aria-describedby="nameHelp" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label for="">Password:</label>
                    <input name="password" type="password" class="form-control" id="passwordInput" aria-describedby="passwordHelp" placeholder="Enter password">
                </div>
                <input @click="login()" type="button" class="submit btn btn-primary" value="Submit">
                <p> {{ loginError }} </p>
            </form>
        </div>

        <h1 style="text-align: center;">In custody or prison</h1>
        <div class="content-buttons">
            <button onclick="show_loginBox()" id="loginBtn" class="btn btn-dark">Login</button>
            <button @click="logout()" id="adminButton" class="btn btn-dark">Logout</button>
            <button onclick="show_criminalInsertPopup()" id="adminButton" class="btn btn-dark">Add Criminal</button>
        </div>


        <!--
        <table id="criminalsTable" class="table table-striped table-bordered">
            <tr>
                <th>Name</th>
                <th>crime</th>
            </tr>
            <tr v-for="criminal in criminals">
                <td>{{ criminal.name }}</td>
                <td>{{ criminal.crime }}</td>
            </tr>
        </table>
        -->


        <div class="auto-grid-3">
            <div v-for="criminal in criminals" class="card" style="width: 18rem;">
                <img class="card-img-top" style="height: 18rem;" v-bind:src="'images/' + criminal.img_link" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ criminal.name }}</h5>
                    <p class="card-text">{{ criminal.crime }}</p>
                    <button type="button" class="btn btn-primary btn-lg" @click='getById(criminal.id)' data-bs-toggle="modal" data-bs-target="#modelId">More Details</button>
                </div>
            </div>
        </div>

        <!-- Modal criminal -->
        <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <form>

                        </form>
                        <h5 class="modal-title" id="detCrimName">Modal title</h5>
                        <h6 class="modal-title" id="detCrimCrime">|murder</h6>
                        <h6 class="modal-title" id="detCrimDob">|2015-32-12</h6>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            </button>
                    </div>
                    <div class="modal-body" id="detCrimDesc">
                        Body
                    </div>
                    <div class="modal-footer">
                        <button id="adminButton" type="button" @click="edit()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModel">Edit Criminal</button>
                        <button id="adminButton" type="button" @click="deleteCriminal()" class="btn btn-primary">Delete Criminal</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <p id="detCrimId">1</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit edit criminal -->
        <div class="modal fade" id="editModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <form>

                        </form>
                        <h5 class="modal-title">Edit Criminal</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="name">Name of criminal</label>
                                <input type="name" class="form-control" id="criminalNameUpdInput" aria-describedby="nameHelp" placeholder="Enter name">
                                <small id="nameHelp" class="form-text text-muted">The name of the criminal</small>
                            </div>
                            <div class="form-group">
                                <label for="">Crime</label>
                                <input type="crime" class="form-control" id="crimeUpdInput" aria-describedby="crimeHelp" placeholder="Enter crime">
                                <small id="crimeHelp" class="form-text text-muted">The crime he has commited</small>
                            </div>
                            <div class="form-group">
                                <label for="">Date of Birth</label>
                                <input type="dob" class="form-control" id="dobUpdInput" aria-describedby="dobHelp" placeholder="Enter dob">
                            </div>
                            <div class="form-group">
                                <label for="">Description</label>
                                <input type="description" class="form-control" id="descriptionUpdInput" aria-describedby="descriptionHelp" placeholder="Describe the criminal">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" @click="finalizeEdit" data-bs-dismiss="modal">Save</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Forget</button>
                        <p id="detCrimId">1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js " integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p " crossorigin="anonymous "></script>
<script src="https://unpkg.com/vue@3 "></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function show_criminalInsertPopup() {
        document.querySelector(".add-box").style.display = "block"
    }

    function hide_criminalInsertPopup() {
        document.querySelector(".add-box").style.display = "none"
    }

    function show_loginBox() {
        document.querySelector(".loginBox").style.display = "block"
    }

    function hide_loginBox() {
        document.querySelector(".loginBox").style.display = "none"
    }

    const vue = Vue.createApp({
        data() {
            return {
                criminals: [],
                admin: false,
                index: 0,
                loginError: ""
            }
        },
        async created() {
            this.criminals = await (await fetch('http://localhost:6661/criminals')).json();
            // admin check for admin rights
            this.admin = await (await fetch('http://localhost:6661/adminCheck')).json();
            if (this.admin == true) {
                document.querySelector("#loginBtn").style.display = "none";
                var cols = document.querySelectorAll('#adminButton');
                for (i = 0; i < cols.length; i++) {
                    cols[i].style.display = "block";
                }
            }
        },
        methods: {
            login: async function() {
                var username_value = document.querySelector("#usernameInput").value
                var password_value = document.querySelector("#passwordInput").value
                const requestOptions = {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        username: username_value,
                        password: password_value
                    })
                };
                await fetch("http://localhost:6661/login", requestOptions)
                    .then(response => response.json())
                    .then(data => {
                        if (data.error)
                            this.loginError = data.error;
                        if (data == true) {
                            window.location.reload()
                        }
                    });
            },
            logout: async function() {
                const requestOptions = {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    }
                };
                await fetch("http://localhost:6661/logout", requestOptions)
                    .then(() => {
                        window.location.reload();
                    })
            },
            addCriminal: async function() {
                var name_value = document.querySelector("#criminalNameInput").value
                var crime_value = document.querySelector("#crimeInput").value
                var dob_value = document.querySelector("#dobInput").value
                var desc_value = document.querySelector("#descriptionInput").value

                const request = {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        name: name_value,
                        crime: crime_value,
                        dob: dob_value,
                        img_link: "placeholder-300x300.webp",
                        long_desc: desc_value,
                    })
                }

                await fetch("http://localhost:6661/criminals/add", request)
                    .then(() => {
                        window.location.reload();
                    })
            },
            getById: async function(id) {
                this.index = id
                console.log(id - 1)
                document.querySelector("#detCrimName").textContent = this.criminals[id - 1].name
                document.querySelector("#detCrimCrime").textContent = "|" + this.criminals[id - 1].crime
                document.querySelector("#detCrimDob").textContent = "|" + this.criminals[id - 1].dob
                document.querySelector("#detCrimDesc").textContent = this.criminals[id - 1].long_desc
                document.querySelector("#detCrimId").textContent = id
            },
            edit: async function(id) {
                document.querySelector("#criminalNameUpdInput").value = this.criminals[this.index - 1].name
                document.querySelector("#crimeUpdInput").value = this.criminals[this.index - 1].crime
                document.querySelector("#dobUpdInput").value = this.criminals[this.index - 1].dob
                document.querySelector("#descriptionUpdInput").value = this.criminals[this.index - 1].long_desc
            },
            finalizeEdit: async function() {
                var crimName = document.querySelector("#criminalNameUpdInput").value
                var crimCrime = document.querySelector("#crimeUpdInput").value
                var crimDob = document.querySelector("#dobUpdInput").value
                var crimDesc = document.querySelector("#descriptionUpdInput").value
                await fetch("http://localhost:6661/editCriminal", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        index: this.index,
                        name: crimName,
                        crime: crimCrime,
                        dob: crimDob,
                        desc: crimDesc
                    })
                }).then(() => {
                    window.location.reload();
                })
            },
            deleteCriminal: async function(id) {
                console.log(this.index)
                await fetch("http://localhost:6661/criminals/delete", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        crim_id: this.index,
                    })
                }).then(() => {
                    window.location.reload();
                })

            }
        }
    }).mount('#app')
</script>

</html>